*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}
body {
	background-color: rgb(224, 59, 59);
  }
  
ul{
	float:right;
	list-style-type: none;
	margin-top: 30px;
	margin-right:60px ;
}
ul li{
	display: inline-block;
}
ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.5s ease;

}

ul li a:hover{
	background-color: #000;
	color: #fff;
}

ul li.active a{
background-color:#000;
	color: #fff;

}

.logo img{
	float: left;
	width: 150px;
	height: auto;
}

.main{
	max-width: 1200px;
	margin: auto;
}

.title{
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.title h1{
	color: #fff;
	font-size: 85px;
}

.button{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.btn{
	border: 1px solid #000;
	padding: 5px 20px;
	color: #000;
	transition: 0.6s ease;
	font-size: 18px;
	text-decoration: none;
}

.btn:hover{
	background-color: #000;
	color: #fff;
}